<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS2Configr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PS2Configr.Properties.Settings>
            <setting name="PCSX2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDiskPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultNoGUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUseGlobalPad" serializeAs="String">
                <value>True</value>
            </setting>
        </PS2Configr.Properties.Settings>
    </userSettings>
</configuration>